<div class="container">

    <div class="row">
      <div class="col">
        <div>
          {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
          &nbsp;
          <a 
            [routerLink]="['/actualizar', indice]" 
            [queryParams]="{accion:'1'}">
            Actualizar
          </a>
          &nbsp; &nbsp;
          <a 
            [routerLink]="['/actualizar', indice]" 
            [queryParams]="{accion:'2'}">
            Eliminar
          </a>
          
          <ul>
            <li  *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
          </ul>
          
        </div>
        <app-caracteristicas-empleado (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
      </div>
      

    </div>
  </div>